.hero-pic {
    height: 25vh;
    background-image: url('boards.jpg');
    background-position: center;
    background-size: cover;
}

.profile-pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-image: url('AdamFiggat.jpg');
  background-position: center;
  background-size: cover;
  margin: auto;
  margin-top: -100px;
  margin-bottom: 2rem;
  border: solid white 4px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,.3);
}

.body {
  min-height: 42vh;
}